*{
  margin: 0;
  padding: 0;
}
body{
  background-image: url('imgs/hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;

  height: 100vh;
}
.textSize{
font-size: 2rem;
}
.font{
  font-family: 'Lobster', cursive;
}
.todoAPP{
text-align: center;
margin: 5%;
/* background-image: url('imgs/night.jpg');
background-repeat: no-repeat;
background-size: cover;
opacity: 0.8; */
/* padding: 18% 0; */
width: 30%;
/* height: 70%; */
margin: 5% 35%;
color: #fff;
/* padding: 2% 10%; */
}
.todoAPP ul{
  margin: 3% 0;
  list-style-type: none;
}
.todoAPP li{
  margin: 2%;
  padding:0 5%;
  font-size: 2rem;
}
.delBtn{
  margin-left:  5%;
}
#todo-items{
  padding: 2% 5%;
}
button{
  padding: 2% 3%;
}
.addbtn ,.editBtn{
  background-color: #12cc6c;
  color: #fff;
}
.delbtn ,.delBtn{
  background-color: #c2172e;
    color: #fff;
}
@media (max-width:1000px){
  .heading{
    padding-top: 20%;
    font-size: 4rem;
  }
  #todo-items{
    padding: 3% 7%;
  }
  button{
    padding: 2% 3%;
  }
}
